# Keep packages up to date
0 3 * * 1-5 dnf -y update >> /root/log/dnf_update.`date +\%Y\%m\%d`
# Check kernel package and reboot if needed
0 4 * * 5 (kernel-uptodate >> /root/log/kernel.`date +\%Y\%m\%d`) || systemctl reboot
